@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*////////////Login.js styling/////////////*/

.cover{
    margin: auto;
    background-color: white;
    width: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
}

.cover .login-dec{
    border: none;
    background-color: rgb(229, 226, 226);
    border-radius: 0.25em;
    text-align: center;
    padding: 0.7em;
    width: 80%;
}

.cover input:focus{
    outline-color: rgb(32, 177, 225);
}

.login-btn{
    width: 40%;
    background-color: rgb(32, 177, 225);
    transition: 1s;
    border-radius: 0.25em;
}

.login-btn:hover{
    transform: scale(1.25);
}
/*///////////Inventory.js header styling////////////*/

header{
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 3.5% auto;
}

.inner-header{
    display: flex;
}

.inner-header h3{
    margin-top: 12px;
}

header .btn{
    background: #000;
    color: #fff;
    border: none;
    padding: 6px 11px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    height: 51px;
    transition: 0.5s;
}

h1{
    text-align: center;
}

header .btn:hover{
    transform: scale(1.05);
}

/*////Table styling//////*/
table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    width: 95%;
}

table thead tr{
    background-color: black;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    height: 40px;
}

.item-th{
    padding-left: 10px;
}

/* table thead tr th:last-of-type{
    background-color: red;
} */

tr, td{
    padding: 12px 15px;
}

tbody tr td:first-of-type{
    text-transform: capitalize;
    font-weight: 700;
}

tbody tr{
    border-bottom: 1px solid #dddddd;
    background-color: white;
}

table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

table tbody tr:last-of-type{
    border-bottom: 2px solid black;
}

/*/////darkgray  a //////*/

table .actions-in{
    margin-right: 10px;
}



/*////////ADD ITEM/ EDIT ITEM.JS STYLING///////////*/
.add-form {
    position: absolute;
    bottom: -5;
    left: 0;
    right: 0;
    height: 80%;
    background-color: white;
    overflow: hidden;
    width: 100%;
    animation: Slide_Down 1s ease-out;
}

hr.solid{
    border-top: 3px solid #bbb;
    border-radius: 60px;
    width: 90%;
    margin: auto;
}

/*///rgba(0,0,0,0.5)////*/

.form{
    background-color: black;
    color: white;
    opacity: 0.9;
    text-align: center;
    width: 30%;
    height: 500px;
    margin: 3% auto;
    border-radius: 10px;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
}

.form-control{
    display: flex;
    margin: 20px auto;
    width: 90%;
    justify-content: space-between;
}

form .edit-item{
    margin-top: 15px;
}

.form-control input{
    padding: 7px 0 7px 15px;
    border: none;
    border-radius: 15px;
    width: 74%;
}

.form-control input:focus{
    outline-color: #bbb;
}

form .form-control-out{
    margin-top: 20px;
}

form .form-control-date{
    padding: 7px 0 7px 15px;
    border-radius: 20px;
    border: none;
}

form .btn{
    background-color: black;
    color: white;
    border: 2px solid #bbb;
    padding: 10px 20px;
    margin-top: 1px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    transition: 1s;
}

form .btn:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

form .cancelBtn{
    margin-left: 20px;
    background-color: red;
}

form .cancelBtn:hover{
    border: 1px solid red;
    color: red;
}

@keyframes Slide_Down{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}




/*////////welcome page styling///////////*/
.welcome{
    height: 692px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.welcome button{
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}




@media screen and (max-width: 630px){
    header{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 15px;
        font-size: 0.9rem;
        z-index: 0;
    }

    .inner-header{
        margin: auto;
    }

    header .btn{
        border-radius: 0%;
    }

    table{
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    table tr{
        margin: 0;
        padding: 0;
    }

    table td{
        margin: 0;
        padding: 0;
    }

    table th{
        margin: 0;
        padding: 0;
    }

    table thead{
        margin: 0;
        padding: 0;
    }

    table tbody{
        margin: 0;
        padding: 0;
    }

    table .actions-in{
        margin-left: 0;
    }

    .add-form {
        position: absolute;
        height: 100%;
        background-color: white;
        overflow: hidden;
        width: 100%;
        animation: Slide_Down 1s ease-out;
        margin: 0;
    }

    .form{
        background-color: black;
        color: white;
        opacity: 0.9;
        text-align: center;
        width: 90%;
        height: 500px;
        margin: 3% auto;
        border-radius: 10px;
        box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    }

    .form-control input{
        width: 70%;
    }

    .form-control label{
        margin-top: 10px;
        font-size: 0.8rem;
    }
}

