.alert {
    display: none;
    position: fixed;
    z-index: 10;
    width: 25%;
    padding: 1rem 1rem;
    /* left: calc(32%); */
    top: 0;
    right: 0;
    margin-right: 5px;
    border-radius: 0.25rem;
    text-align: center;
}
.error {
    display: inline;
    margin-top: 75px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    animation: Slide_Left 1.5s ease-out;
    /* animation: Slide_Down 1.5s ease-out; */
}

.success {
    display: inline;
    margin-top: 75px;
    color: #d1e7dd;
    background-color: #61a924;
    border-color: #badbcc;
    animation: Slide_Left 1.5s ease-in;
    /* animation: Slide_Down 1.5s ease-in; */
}

.warning {
    display: inline;
    margin-top: 75px;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    animation: Slide_Down 1.5s ease-out;
}

.login_warning {
    display: inline;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30%;
    left: calc(68%);
    top: 0;
    animation: Slide_Left 1s ease-out;
}

.primary {
    display: inline;
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.secondary {
    display: inline;
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.info {
    display: inline;
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

.closeBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

  /* When moving the mouse over the close button */
.closeBtn:hover {
    color: black;
}

.addItemOpen{
    color: pink;
}
.addItemOpen{
    color: black;
}

@keyframes Slide_Down{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes Slide_Left{
    0%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0);
    }
}
